<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.angularjs.org/snapshot/angular.min.js"></script>
    <script src="index.js"></script>
    <script src="services.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

    <title>Eit Documentation</title>

    <style type="text/css">
      .eit-headers{
        margin-top: 10px;
        margin-bottom: 20px;
        color:#00BBFF;
      }
      .eit-section{
        padding-bottom: 100px;
      }
      table{
        border-radius: 7px;
      }
      .jumbotron{
        width:100%;
      }
    </style>
  </head>
  <body ng-app="superModule">
    <section class="eit-section">
      <div class="container-fluid">
        <div class="row">
          <div class="jumbotron jumbotron-fluid">
            <div>
              <h1 class="display-4 text-center">EIT Documentation</h1>
              <p class="lead text-center">Welcome to my EIT page. Here we can Add, Update, Delete and Display Eits. Feel free but don't break my code! :)</p>
            </div>
          </div>
          <div class="col-md-5"  ng-controller="AddEitController as addEit">
            <div class="text-center eit-headers">
              <h2>Add an EIT</h2>
            </div> 
              <form>
                <div class="form-group">
                  <label for="email">Email address:</label>
                  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" ng-model="addEit.email" ng-value="">
                </div>
                <div class="form-group">
                  <label for="firstName">First Name:</label>
                  <input type="text" class="form-control" id="firstName" placeholder="First Name" ng-model="addEit.firstName">
                </div>
                <div class="form-group">
                  <label for="lastName">Last Name:</label>
                  <input type="text" class="form-control" id="lastName" placeholder="Last Name" ng-model="addEit.lastName">
                </div>
                
                <div class="form-group">
                  
                    <div class="row">
                        <div class="col-md-4"><label for="male">Gender:</label></div>
                        <div class="col-md-4">
                          <div class="form-check">
                            <input class="form-check-input" ng-model="addEit.gender" type="radio" name="gender" id="male" value="male">
                            <label class="form-check-label" for="male">
                              Male
                            </label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-check">
                             <input class="form-check-input" ng-model="addEit.gender" type="radio" name="gender" id="female" value="female">
                            <label class="form-check-label" for="female">
                              Female
                            </label>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="dob">Date of Birth:</label>
                    <input type="date" class="form-control" id="dob" ng-model="addEit.dob">
                  </div>
                  
                  <button type="submit" ng-show="addEit.showAdd" class="btn btn-info btn-block" ng-click="addEit.addEit()">Add EIT</button>
                  <button type="submit" ng-show="addEit.showEdit" class="btn btn-info btn-block" ng-click="addEit.editEit()">Edit EIT</button>
              </form> 
                  
                    
                 
          </div>


                  
         
          <div class="col-md-7" ng-controller="viewAllEitController as viewAll">
            <div class="eit-headers">
              <h2 class="text-center">Show All EITs</h2>
            </div>
            <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Email</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">View</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat = "eits in viewAll.viewAllEit()">
                    <th scope="row">{{eits.id}}</th>
                    <th scope="row">{{eits.email}}</th>
                    <th scope="row">{{eits.lastname}}</th>
                    <th scope="row">{{eits.gender}}</th>
                    <th scope="row"><button class="btn" ng-click="viewAll.setAnEit(eits.id)"><i class="fas fa-eye"></i></button></th>
                    <th scope="row"><button class="btn" ng-click="viewAll.editAnEit(eits.id)"><i class="far fa-edit"></i></button></th>
                    <th scope="row"><button class="btn" ng-click="deleteEit(eits.id)"><i class="fas fa-trash"></i></button></th>
                    
                  </tr>
                  
                </tbody>
              </table>
          </div>





          
        </div>
        <div class="row" ng-controller="viewAnEitController as oneEit">
          <div class="col-md-4">
            <div class="eit-headers">
              <h2 class="text-center">View an EIT</h2>
            </div>
            <div>
              <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Email</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Gender</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">{{oneEit.getAnEit().id}}</th>
                    <td>{{oneEit.getAnEit().email}}</td>
                    <td>{{oneEit.getAnEit().lastname}}</td>
                    <td>{{oneEit.getAnEit().gender}}</td>
                   

                  </tr>
                  
                </tbody>
              </table>
            </div>

          </div>

      </div>
      </div>
    </section>






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    
  </body>
</html>